@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color:#e9091c;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
}






.heading{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: var(--color);
    position: relative;
}

.btn{
    outline:none;
    border: none;
    border-radius: 5rem;
    background: var(--color);
    color: #fff;
    cursor: pointer;
    height: 3.5rem;
    width:15rem;
    font-size:1.7rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3)
}

.btn:hover{
    letter-spacing: .1rem;
    opacity: .8;
}




.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header .logo{
    font-size: 2.5rem;
    color: #fff;
}

.header .logo i{
    padding-right: 0.5rem;
}

.header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: var(--color)
}

.header .navbar ul li{
    margin: 0 1.5rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 400;
}

.header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

.header .navbar ul li a:hover{
    color: #fff;
}

.header .fa-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    width:100vw;
    background: linear-gradient(red,var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding:0 1rem;
    position:relative;
    overflow: hidden;
}

.home .banner{
    color: #fff;
    font-size: 4rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,3);

}

.home .slogan{
    color:#eee;
    font-size: 2.5rem;
    font-weight: 300;
}

.home button{
    height: 3rem;
    width: 17rem;
    background:#fff;
    color:#555;
    cursor:pointer;
    border:none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.home button:hover{
    letter-spacing: .1rem;
}



.about{
    min-height: 100vh;
    width: 100vw;
    text-align:center;
    position: relative;
    overflow: hidden;
}

.about .row{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 0 4rem;
}

.about .row .content{
    text-align: left;
}

.about .row .image img{
    width: 50vw;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--color);
}

.about .row .content p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}


.throneRoom{
    min-height: 100vh;
    width: 100vw;
    text-align:center;
    position: relative;
    overflow: hidden;
}

.throneRoom .row{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 0 4rem;
}

.throneRoom .row .image img{
    width: 50vw;
}

.throneRoom .row .content{
    text-align: left;
}

.throneRoom .row .content h3{
    font-size: 3rem;
    color: var(--color);
}

.throneRoom .row .content p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.bookcover{
    min-height: 100vh;
    width: 100vw;
    text-align:center;
    background-color: #222;
    
}

.bookcover .heading{
    color: #fff;
}

.bookcover .heading::before, .poster .heading::after{
    border-color: #fff;
}

.bookcover .row{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 0 4rem;
}



.bookcover .row .card .image{
    margin: 3rem 0;
    padding-top: 4rem;
}

.bookcover .row .card .image img{
    width: 20vw;
}

.bookcover .row .card .content h3{
    font-size: 2rem;
    color: #fff;
}

.bookcover .row .card .content span{
    font-size: 1.5rem;
    color: #eee;
}

.bookDesign{
    min-height: 100vh;
    width: 100vw;
    text-align:center;
}

.bookDesign .row{
    display: flex;
    align-items:center;
    justify-content: center;
}

.bookDesign .row .image img{
    height: 60vh;
    width: 40vw;
}

.bookDesign .row .content{
    text-align: center;
    font-size: 2rem;
}


.bookbanner{
    min-height: 100vh;
    width: 100vw;
    text-align:center;
}

.bookbanner .row{
    display: flex;
    align-items:center;
    justify-content: center;
}

.bookbanner .row .image img{
    height: 60vh;
    width: 40vw;
}

.bookbanner .row .content{
    text-align: center;
    font-size: 2rem;
}


.poster{
    min-height: 100vh;
    width: 100vw;
    text-align:center;
}

.poster .row{
    display: flex;
    align-items:center;
    justify-content: center;
}

.poster .row .image img{
    height: 60vh;
    width: 40vw;
}

.poster .row .content{
    text-align: center;
    font-size: 2rem;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: var(--color)

}

.footer h1{
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 400;

}












@media (max-width:768px){
    html{
        font-size: 50%;
    }

    .header .fa-bars{
        display: block;
    }

    .header .navbar{
        position: fixed;
        top:-120; Left:0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li{
        margin: 1rem 0;
    }

    .header .navbar ul li a{
        color:blue;
        font-size: 2.5rem;
    }

    .header .fa-times{
        transform: rotate(180deg);
    }

    .header .nav-tooggle{
        top: 5.4rem;
    }

    .home .banner{
        font-size:1.7rem;
    }

    .home .slogan{
        font-size: 1.7rem;
    }

    .about .row{
        flex-flow:column-reverse;
        padding: 0 2rem;

    }

    .about .row .image img{
        width: 100vw;
    }

    .ThroneRoom .row{
        flex-flow:column-reverse;
    }

    .ThroneRoom .row:nth-child(even){
        flex-flow: column;
    }

    .ThroneRoom .row .image img{
        width: 100vw;
    }

    .ThroneRoom .row .content{
        width: 100vw;
    }

    .ThroneRoom .row .content{
        padding: 0;
    }

    .ThroneRoom .row{
        flex-flow: column;
    }

    .ThroneRoom .row .image img{
        width: 100vw;
    }

    .ThroneRoom .row .content{
        width: 100vw;
    }


}

@media (max-width:550px){
    .footer{
        flex-flow: column;
    }

    .footer h1{
        text-align: center;
    }
}



.logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url(Images/bookcover.jpg);
    background-repeat: no-repeat;
}